.movie {
  display: flex;
  background-color: #dcdcdc;
  margin: 2rem;
  overflow: hidden;
}
.imageMovie {
  width: 18rem;
  min-width: 10rem;
  min-height: 20rem;
  position: relative;
}
.infosMovie {
  width: 100%;
}
.titleMovie {
  display: flex;
  align-items: flex-end;
  background-color: rgb(24, 99, 145);
  font-size: 2rem;
  color: rgb(40, 232, 228);
  min-height: 4rem;
}

.circle {
  flex-shrink: 0;
  flex-grow: 0;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 0.3rem solid rgb(40, 232, 228);
  outline: rgb(24, 99, 145) solid 0.25rem;
  background-color: rgb(24, 99, 145);
  color: rgb(40, 232, 228);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  line-height: 0;
  transform: translateY(40%);
  margin-left: 1rem;
}

.navigation {
  all: unset;
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.navigation h2 {
  margin: 0;
}
.date {
  font-size: 1.5rem;
  margin-left: 6.2rem;
  color: gray;
}
.descriptionMovies {
  margin: 2rem;
}
.categoryContainer {
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
}
.category {
  border: 1px solid rgb(24, 99, 145);
  background-color: #fff;
  padding: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 1rem;
  color: rgb(24, 99, 145);
  margin-right: 0.5rem;
}
.searchSection {
  padding: 2rem 2rem 0 2rem;
}
.searchInput {
  box-sizing: border-box;
  /* height: 2rem; */
  width: 100%;
  border-radius: 10000px;
  font-size: 1.5rem;
  border: none;
  background-color: rgb(235, 235, 235);
  padding: 0.5rem 2rem;
  font-family: var(--font-abel);
}

.searchInput::placeholder {
  color: rgba(24, 99, 145, 0.5);
  font-family: var(--font-abel);
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.circlePagination {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.15rem solid rgb(40, 232, 228);
  outline: rgb(24, 99, 145) solid 0.25rem;
  background-color: rgb(24, 99, 145);
  color: rgb(40, 232, 228);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  line-height: 0;
  margin-bottom: 0.5rem;
}
.numberPagination {
  color: rgb(40, 232, 228);
  font-size: 1.25rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
