.movie {
  display: flex;
  background-color: #dcdcdc;
  margin: 2rem;
  overflow: hidden;
}
.imageMovie {
  width: 18rem;
  min-width: 10rem;
  min-height: 20rem;
  position: relative;
}
.infosMovie {
  width: 100%;
}
.titleMovie {
  background-color: #4682b4;
  font-size: 2rem;
  color: #add8e6;
  height: 4rem;
}

.circle {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 0.3rem solid #add8e6;
  outline: #4682b4 solid 0.25rem;
  background-color: #4682b4;
  color: #add8e6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  line-height: 0;
  position: absolute;
  transform: translate(25%, 40%);
}
.title {
  height: 100%;
  display: flex;
  padding-top: 0.6rem;
  align-items: center;
  word-break: break-all;
  margin-left: 6rem;
  margin-right: 1rem;
  font-size: 1.5rem;
}
.navigation {
  all: unset;
  cursor: pointer;
}
.date {
  font-size: 1.5rem;
  margin-left: 6.2rem;
  color: gray;
}
.descriptionMovies {
  margin: 2rem;
}
.categoryContainer {
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
}
.category {
  border: 1px solid #4682b4;
  background-color: #fff;
  padding: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 1rem;
  color: #4682b4;
  margin-right: 0.5rem;
}
.searchInput {
  height: 2rem;
  width: 70rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-left: 2rem;
  border: none;
  background-color: #dcdcdc;
  padding-left: 2rem;
  font-family: var(--font-abel);
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.circlePagination {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.15rem solid #add8e6;
  outline: #4682b4 solid 0.25rem;
  background-color: #4682b4;
  color: #add8e6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  line-height: 0;
}
