.main {
  height: 100%;
  margin: 0;
  width: 100%;
  font-family: var(--font-lato);
}

.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6 {
  font-family: var(--font-abel);
  font-weight: 400;
}
.section {
  background-color: #f5f5f5;
  margin: 2rem;
}
.title {
  font-size: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #c0c0c0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}
.year {
  font-family: var(--font-lato);
  font-weight: 400;
  color: gray;
  font-size: 1.2rem;
}
.movieTitle {
  color: #4682b4;
}

.sinopse {
  margin-left: 2rem;
  margin-right: 2rem;
  border-bottom: 1px solid blue;
  font-family: var(--font-abel);
  font-weight: 400;
  font-size: 1.5rem;
  color: #4682b4;
}
.description {
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: var(--font-lato);
  font-weight: 400;
}
.categoryContainer {
  display: flex;
  margin: 1rem 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4rem;
}
.category {
  border: 1px solid #4682b4;
  background-color: #fff;
  padding: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 1rem;
  color: #4682b4;
  margin-right: 0.5rem;
}

.circle {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 0.4rem solid #add8e6;
  outline: #4682b4 solid 0.25rem;
  background-color: #4682b4;
  color: #add8e6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  line-height: 0;
  font-family: var(--font-abel);
}
.information {
  display: flex;
  justify-content: space-between;
  margin: 0rem 2rem;
}
.info {
  font-family: var(--font-abel);
  font-weight: 400;
  color: #4682b4;
  font-size: 1.2rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infoAdditional {
  font-family: var(--font-lato);
  font-weight: 200;
  margin: 0;
  color: #000;
  font-size: 0.8rem;
}
.informationMovie {
  width: 100%;
}
.imageMovie {
  width: 70rem;
  min-width: 10rem;
  min-height: 31rem;
  max-width: 23rem;
  position: relative;
}
.descriptionContainer {
  display: flex;
}
.movieYoutube {
  margin: 0 2rem;
  aspect-ratio: 16/9;
}
